header
  div.profile-info
    if path != "/login"
      if  currentUser
        h3 #{currentUser.username}
        div.logout
          a(href='/logout') Logout
  div.title-heading
    h1.title-text: a(href="/") Link Archive
  .spacer
