header
  display: flex
  justify-content: center
  .profile-info
    color: $font-primary-color
    font-weight: bold
    position: absolute
    left: 2%
    top: 2%
  .title-heading
    text-align: center
    margin-bottom: 3em

.title-text
  font-family: $amatic
  font-weight: bold
  font-size: $font-header-size
  margin-top: 0px
