header
  display: flex
  justify-content: center
  .profile-info
    position: absolute
    top: 2%
    left: 2%
    color: $font-primary-color
    font-size: $font-secondary-size
    .logout
      font-weight: bold
  .title-heading
    margin-bottom: 3em
    text-align: center
.title-text
  font-family: $amatic
  font-weight: bold
  font-size: $font-header-size
  margin-top: 0px
