.login-card
  @extend .ui-card
  margin: auto
  margin-top: 1em
  padding: 2%
  width: 40%
  min-height: 70%
  display: flex
  flex-flow: column
  text-align: center
  .login-header
    margin: 0px
    color: $font-primary-color
    font-weight: bold
    font-size: $font-secondary-size
  .login-description
    margin-top: 10%
    color: $font-secondary-color
    font-size: $font-secondary-size
  .facebook-login-btn img
    max-width: 100%
