@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC");
a:hover {
  text-decoration: none; }

.ui-card, .login-card, main.home-ui .link-table, main.home-ui .send-link {
  background-color: #FFFFFF;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  color: #33609E; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.login-card {
  margin: auto;
  margin-top: 1em;
  padding: 2%;
  width: 40%;
  display: flex;
  flex-flow: column;
  text-align: center;
  padding-top: 3%; }
  .login-card .login-header {
    margin: 0px;
    color: #33609E;
    font-size: 2vw; }
  .login-card .login-description {
    margin-top: 10%;
    color: #54719B;
    font-size: 2vw;
    font-weight: 100;
    line-height: 1.4em; }
  .login-card .facebook-login-btn img {
    margin-top: 2em;
    max-width: 100%; }

header {
  display: flex;
  justify-content: center; }
  header .profile-info {
    color: #33609E;
    font-weight: bold;
    position: absolute;
    left: 2%;
    top: 2%; }
  header .title-heading {
    text-align: center;
    margin-bottom: 3em; }

.title-text {
  font-family: "Amatic SC";
  font-weight: bold;
  font-size: 5vw;
  margin-top: 0px; }

body {
  background-image: url("../imgs/background.png");
  background-size: cover;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  letter-spacing: 1.4px;
  font-family: "Roboto", sans-serif; }

main {
  flex: 1 0 auto;
  display: flex;
  flex-flow: column; }

#footer {
  padding: 0.5em;
  background-color: #e4eff6;
  text-align: center;
  color: #33609E;
  font-size: 1.5vw; }

main.home-ui {
  display: flex;
  flex-direction: row;
  align-items: flex-start; }
  main.home-ui .link-table {
    display: flex;
    flex-flow: column;
    flex: 5;
    padding: 2em;
    margin: 6em 1em 0em 2em; }
  main.home-ui .send-link {
    flex: 1;
    margin: 6em 2em 0em 1em;
    padding: 1em;
    text-align: center; }
    main.home-ui .send-link p:first-child {
      font-weight: 300; }

#data-headers, .entry-row {
  display: flex; }
  #data-headers .data-header-sender, #data-headers .data-sender, .entry-row .data-header-sender, .entry-row .data-sender {
    flex: 4; }
  #data-headers .data-header-sent, #data-headers .data-header-actions, #data-headers .data-sent, #data-headers .data-actions, .entry-row .data-header-sent, .entry-row .data-header-actions, .entry-row .data-sent, .entry-row .data-actions {
    flex: 2; }
  #data-headers .data-header-link, #data-headers .data-link, .entry-row .data-header-link, .entry-row .data-link {
    flex: 6; }

.entry-row div {
  margin-top: 0.4em; }
  .entry-row div p {
    font-weight: 300; }

hr {
  border-color: #979797;
  margin-left: 0;
  margin-right: 0; }

h2 {
  font-size: 3vw;
  font-weight: 300; }

.td-labels, td {
  color: #33609E; }

.table-header {
  text-align: center;
  font-size: 4vw;
  margin-bottom: 1em; }

#details-button {
  margin-right: 0.4em; }

.login-card {
  margin: auto;
  margin-top: 1em;
  padding: 2%;
  width: 40%;
  display: flex;
  flex-flow: column;
  text-align: center;
  padding-top: 3%; }
  .login-card .login-header {
    margin: 0px;
    color: #33609E;
    font-size: 2vw; }
  .login-card .login-description {
    margin-top: 10%;
    color: #54719B;
    font-size: 2vw;
    font-weight: 100;
    line-height: 1.4em; }
  .login-card .facebook-login-btn img {
    margin-top: 2em;
    max-width: 100%; }

#new-link-form label {
  color: #33609E; }

.modal-header {
  text-align: center; }

.modal-body {
  display: flex;
  flex-flow: column; }

.subject {
  text-align: center; }

.modal-body * {
  display: flex;
  justify-content: space-between;
  margin-top: 0.2em; }

/*# sourceMappingURL=stylesheet.css.map */
