// Vars
$font-primary-color: #33609E
$font-secondary-color: #54719B
$font-header-size: 40px
$font-secondary-size: 20px
$font-footer-size: 15px
$roboto: "Roboto", sans-serif
$amatic: "Amatic SC"

a:hover
  text-decoration: none
// Base Classes
.ui-card
  background-color: #FFFFFF
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5)
  border-radius: 8px
  color: $font-primary-color
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400')
@import url('https://fonts.googleapis.com/css?family=Amatic+SC')
@import reset
@import login-card
@import header
@import body-footer
@import link-table
@import login-card
@import new-link
@import show-link

@media only screen and (max-width: 665px)
  $font-secondary-size: 15px
  @import login-card
@media only screen and (max-width: 415px)
  $font-secondary-size: 10px
  @import login-card
