// Vars
$font-primary-color: #33609E
$font-secondary-color: #54719B
$font-header-size: 5vw
$font-secondary-size: 2vw
$font-footer-color: 1.5vw
$roboto: "Roboto", sans-serif
$amatic: "Amatic SC"

// Base Classes
.ui-card
  background-color: #FFFFFF
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5)
  border-radius: 8px
  color: $font-primary-color
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400')
@import url('https://fonts.googleapis.com/css?family=Amatic+SC')
@import reset
@import login-card
@import header
@import body-footer
@import link-table
