extends ../layouts/layout
block content
  div.login-card
    main
      h1.login-header Please login to share or save links!
      p.login-description Link Archive is an easy to use specific tool that has the sole purpose of allowing you to share links with your friends!
      p.login-description Often sending links via chat or messenger programs you are busy and unable to visit the link and thus it goes forgotten! With Link Archive, no Link gets left behind ^_^

    a.facebook-login-btn(href='/auth/facebook')
      img(src='/imgs/facebook-login.png', alt='login with facebook')
    form(action="/login", method='post')
      br
      input(type="text", placeholder='login name', name='loginUsername')
      input(type='submit')
      input(type="hidden", name="_csrf", value=csrf_token )
